@namespace TravelWebApp.Components.Components_Ui

<div class="card border rounded-4">
    <div class="card-body p-4 text-center">
        <p class="fs-1 fw-bold text-primary mb-2">@Count</p>
        <p class="text-muted mb-0">@Label</p>
    </div>
</div>

@code {
    [Parameter] public int Count { get; set; }
    [Parameter] public string Label { get; set; } = "Total Reviews";
}