@inherits LayoutComponentBase
@using TravelWebApp.Shared.Layout

<!-- NAVBAR -->
<Navbar />

<!-- PAGE CONTENT -->
<main class="container-fluid p-0">
    <article class="content px-4 py-4">
        @Body
    </article>
</main>