@page "/tours"
@inject ITourService TourService
@using TravelWebApp.Components.Components_Ui

@if (string.IsNullOrWhiteSpace(SearchTerm))
{
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="display-6 fw-bold">Popular Tours</h2>
                <p class="text-muted">Discover our most loved destinations</p>
            </div>
        </div>

        <div class="row g-4">
            @foreach (var tour in tours)
            {
                <div class="col-md-4">
                    <TravelWebApp.Components.Components_Ui.CardTour Tour="@tour" />
                </div>
            }
        </div>
    </div>
}

else
{
    <div class="row mt-4">
    @foreach (var tour in tours.Where(t => string.IsNullOrEmpty(SearchTerm)
            || t.Title.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase)
            || t.Region.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase)))
    {
        <div class="col-md-4">
            <TravelWebApp.Components.Components_Ui.CardTour Tour="tour" />
        </div>
    }
</div>
}

@code {
    private List<Tour> tours = new List<Tour>();
    [Parameter] public string? SearchTerm { get; set; }
    protected override async Task OnInitializedAsync()
    {
        tours = await TourService.GetToursAsync();
    }
}